body {
		font-family: Arial;
}

div {
	background-color: #1E3741;
	width: 570px;
  	height: 310px;
	border-radius: 10px;
	padding-top: 1px;
	font-size: 13px;
	margin-left: -7px;
	margin-top: -7px;
}

header nav ul {
	padding-left: 0px;
}

header nav ul li{
	display: inline-block;
	background-color: #4B5F67;
	color: #83A9B6;
	padding: 8px;
}

	header nav ul li a:hover {
		text-decoration: underline;
	}

	header nav ul li:first-child {
		background-color: #1E3741; 
}

a {
	text-decoration: none;
	color: #8CA5A5;
}

header nav ul li:first-child a {
	color: #ffffff;	

}

section ul {
	list-style-type: none;
	display: inline-block;
	float: left;
	width: 222px;
	color: #77A3B7;
	padding-left: 0px;
}

section ul li {
	border-bottom: 1px solid grey;
	padding: 5px;
}

section ul li:hover {
        cursor: pointer;
        background-color: #465F69;
    }
    	section ul li:last-child {
    		border-bottom: none;
    	}
section ul li:first-child {
	background-color: #00968C;
	color: #ffffff;
	padding: 5px;
}

section img {
	display: inline-block;
	float: left;
	width: 307px;
}